:host(limel-email-viewer) {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
}

.email {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-bottom: 0.5rem;
    box-shadow: var(--shadow-depth-8);
}

.email-headers {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    dl {
        all: unset;
        display: flex;
        flex-wrap: wrap;
        gap: 0 0.5rem;
        padding: 0.5rem 0.75rem;

        &:nth-child(even) {
            background-color: rgb(var(--contrast-800), 0.1);
        }

        dt {
            all: unset;
            font-size: var(--limel-theme-small-font-size);
            opacity: 0.6;
            min-width: 3rem;

            &:after {
                content: ':';
            }
        }
        dd {
            all: unset;
            font-size: var(--limel-theme-small-font-size);
            &:not(:last-child) {
                &:after {
                    content: ',';
                    opacity: 0.6;
                }
            }
        }

        &.subject {
            dd {
                font-weight: bold;
            }
        }
    }
}

.attachments {
    flex-shrink: 0;
    padding: 0.5rem;
    border-bottom: 1px dashed rgba(var(--contrast-700));

    span {
        padding-left: 0.25rem;
        font-size: var(--limel-theme-small-font-size);
        opacity: 0.6;

        &:after {
            content: ':';
        }
    }

    ul {
        all: unset;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
        gap: 0.5rem;

        padding: 0.5rem 0;
    }

    li {
        all: unset;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        font-size: 0.6875rem;
        line-height: normal;

        padding: 0.5rem 0.5rem 1rem 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid rgba(var(--contrast-600));
        background-color: rgba(var(--contrast-400));
    }

    .attachment-filename {
        font-weight: 500;
    }

    .attachment-mime-type {
        opacity: 0.7;
    }

    limel-badge {
        --badge-max-width: auto;
        --badge-background-color: rgb(var(--contrast-1000), 0.7);
        --badge-text-color: rgb(var(--color-white));
        position: absolute;
        bottom: 0.125rem;
        right: 0.125rem;
        box-shadow: var(--shadow-brighten-edges-outside);
    }
}

section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-top: 1px dashed rgba(var(--contrast-700));
    min-height: 2rem;
    overflow-y: auto;
}

.body {
    flex-grow: 1;
    max-width: 100%;
    padding: 0.75rem;

    &.plain-text {
        white-space: pre-wrap;
        overflow-wrap: anywhere;
        margin: 0;
        font-family: inherit;
    }

    img {
        max-width: 100% !important;
    }
}
